<form action="./cc" method="POST">
    <div class="form-group">
        <label for="">Credit Card 1</label>
        <input type="text" id="cc1" class="form-control" value="<%= cc1 %>" 
    name="cc1"> 
    
    <label for="">Credit Card 2</label>
    <input type="text" id="cc2" class="form-control" value="<%= cc2 %>" 
    name="cc2"> 

    <label for="">Credit Card 3</label>
        <input type="text" id="cc3" class="form-control" value="<%= cc3 %>" 
    name="cc3">
    </div>

    <div class="form-row">
        <div class="form-group">
            <button type="submit" class="btn btn-info"><a href="./dashboard"> 
    </a> Save Changes</button>
        </div>
        <div class="form-group">
            <button class="btn btn-dismiss"><a href="./dashboard">Cancel</a> 
    </button></a>
        </div>
    </div>