<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<p class="lead mb-3">Email: <%= email %></p>
<p class="lead mb-3">Address: <%= address %></p>
<p class="lead mb-3">Password: <%= password %></p>


<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href="/edit" class="btn btn-secondary">Edit profile</a>
<a href="/cc" class="btn btn-secondary">Manage Credit Cards</a>