<form action="./edit" method="POST">
    <div class="form-group">
        <label for="">Full Name</label>
        <input type="text" id="name" class="form-control" value="<%= name %>" 
    name="name">
    
    <label for="">Password</label>
    <input type="text" id="password" class="form-control" value="<%= password %>" 
    name="password"> 

    <label for="">Address</label>
        <input type="text" id="address" class="form-control" value="<%= address %>" 
    name="address">
    </div>

    <div class="form-row">
        <div class="form-group">
            <button type="submit" class="btn btn-info"><a href="./dashboard"> 
    </a> Save Changes</button>
        </div>
        <div class="form-group">
            <button class="btn btn-dismiss"><a href="./dashboard">Cancel</a> 
    </button></a>
        </div>
    </div>